Attendance_Integration/Connected Services/DAPAttendanceServiceGroup/DAPAttendanceServiceGroup3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dynamics.AX.Application" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://usnconeboxax1aos.cloud.onebox.dynamics.com/soap/services/DAPAttendanceServiceGroup?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" />
  <xs:complexType name="ArrayOfDAPAttendanceList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DAPAttendanceList" nillable="true" type="tns:DAPAttendanceList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDAPAttendanceList" nillable="true" type="tns:ArrayOfDAPAttendanceList" />
  <xs:complexType name="DAPAttendanceList">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.Ax.Xpp" base="q1:XppObjectBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="HcmPersonnelNumberId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MachineFrom" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MachineTo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShiftNum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DAPAttendanceList" nillable="true" type="tns:DAPAttendanceList" />
</xs:schema>